/* Table of content */

/*
1.Section Settings
2.Section Navbar
 Section Hero
3.Section Login
4.Section Service
5.Section Promotion
6.Section Blog
7.Section Footer

*/

/* 1.Section Settings */

:root{
    --gradient:linear-gradient(to bottom right, red, blue);
    --red:red;
    --blue:blue;
    --black:rgb(32 33 36);
    --dark:rgb(53 54 58);
    --border-gradient:.2rem solid var(--gradient);
    --black-shadow: 9px 9px 18px #151515,-9px -9px 18px #555555;
    --white-shadow: inset 11px 11px 22px #b5b5b5,inset -11px -11px 22px #ffffff;
     
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

*{
    font-family: 'Kanit', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    
}

html , body{
    background: #000;
    height: 100%;
}

/* Underline */

.underline{
	display: block;
	max-width: 85%;
	height: 3px;
	background: var(--gradient);
	margin: 50px auto;
	border-radius: 100%;
	box-shadow: 0 0 15px red,
	0 0 30px blue,
    0 0 45px red;
	filter: blur(1px);
}


/* Underline */

/* Heading */

.heading h2{
    font-size: 2rem;
}

.heading span{
    font-size: 2rem;
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) { 
    .heading h2{
        font-size: 1.5rem;
    }

    .heading span{
        font-size: 1.5rem;
    }
 }

/* End Heading */

/* 2.Section Navbar */

#navbar {
    padding: 25px;
    transition: 0.5s;
    background: var(--black);
    box-shadow: var(--black-shadow);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom right , blue, red);
    border-image-slice: 1;
    

}

#navbarKey, .navlink, .navbar-brand>img , .navbar-nav{
    background-color: var(--black);
}



.navbar-nav{
	margin-top: 0;
    
}



.nav-hover:hover{
    background: var(--gradient) !important;
    border-radius: 5px !important;
    color: white !important;
}


.iconfix-mobile{
	cursor: pointer;
	transition: .5s;
}
.iconfix-mobile:hover{
	transform: scale(1.2);
}

.iconfix-mobile img{
	width: 60px;
	height: 60px;
}

.iconfix-mobile div{
	color: #fff;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	width: 80px;
	background: var(--gradient);
	box-shadow: var(--black-shadow);
	border-radius: 5px;
	margin-top: -10px;
	padding-top: 2px;
} 

/* -navbar custom icon (Hamburger Button)*/

.navbar-toggler{
	border: none!important;
}

.x-hamburger, .x-hamburger span {
    -webkit-transform: rotate(
0deg);
    transform: rotate(
0deg);
}

.x-hamburger {
    width: 35px;
    height: 25px;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
}


.x-hamburger span {
    width: 70%;
    display: block;
    position: absolute;
    height: 8px;
    background: var(--gradient);
    border: 0.5px solid #fff;
    border-radius: 5px;
    opacity: 1;
    right: 0;
    transition: .25s ease-in-out;
}


.x-hamburger span:first-child {
    top: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation: x-hamburger-wave .4s ease-out infinite alternate;
    animation: x-hamburger-wave .4s ease-out infinite alternate;
}



.x-hamburger span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation: x-hamburger-wave .4s ease-out .3s infinite alternate;
    animation: x-hamburger-wave .4s ease-out .3s infinite alternate;
}


.x-hamburger span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation: x-hamburger-wave .4s ease-out .6s infinite alternate;
    animation: x-hamburger-wave .4s ease-out .6s infinite alternate;
}

@keyframes x-hamburger-wave{
	0%{
		width: 70%;
	}
	100%{
		width: 100%;
	}
}




/* -navbar custom icon end*/


/* -navbar mobile */

.bg-navmobile{
    position: fixed;
    bottom: 0;
    /* z-index: 1000; */
    width: 100%;
	height: 65px;
	background: var(--gradient);
    border-top: 2px solid #ffc812;
	box-shadow: 0 0 15px #ffae00;
    padding: 0 0;
	transition: 1s;
}

.nav-link{
	cursor: pointer;
	position: relative;
}

.nav-link:hover, .nav-link:focus{
	cursor: pointer;
	transform: scale(1.2);
}

.nav-link p{
	font-size: 12px;
	font-weight: 300;
}

.nav-link img{
	position: relative;
	transition: .2s;
}
.nav-link img:hover{
	transform: translateX(180);
}
.navbottomicon{
	position: relative;
}
.borderlogo {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70px;
	height: 70px;
	border: 2px solid #ffc812;
	box-shadow: 0 0 15px #ffae00;
	border-radius: 50%;
	margin-top: -36px;
	z-index: 1;
}

/* -navbar mobile end*/


/* ---------Section Navbar End---------- */

/* 3.Section Hero */

.hero{
    margin-top: 150px;
    background: var(--black);
    box-shadow: var(--black-shadow);
    border-radius: 2rem;
}

.contentHero span{
    background: -webkit-linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    
}

.imgHero img
{
	max-width: 600px;
	animation: animate 5s linear infinite;
}

@media and screen (max-width: 769){
    .imgHero img{
        max-width: 400px;}
    }

@media screen and (max-width: 501px){
    .imgHero img{
        max-width: 300px;}

    .contentHero span{
        font-size: 1.5rem;}
    
    .contentHero h1{
        font-size: 1.5rem;}
    
    .contentHero p{
        font-size: 0.75rem;}

    
    }

@keyframes animate
{
	0%,100%
	{
		transform: translateY(50px);
	}
	50%
	{
		transform: translateY(100px);
	}
}

  
  .buttonHero {
    cursor: pointer;
    padding: 0.5em 2em;
    border: 0;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    color: var(--white);
    clip-path: polygon(
      0.5em 0%,
      100% 0,
      100% calc(100% - 0.5em),
      calc(100% - 0.5em) 100%,
      0 100%,
      0% 0.5em
    );
    transition: color 250ms;
  }
  
  .buttonHero a{
    background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .buttonHero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom right, red, blue);
    z-index: -2;
  }
  
  .buttonHero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--black);
    z-index: -1;
    clip-path: polygon(
      0.55em 0.125em,
      calc(100% - 0.125em) 0.125em,
      calc(100% - 0.125em) calc(100% - 0.55em),
      calc(100% - 0.55em) calc(100% - 0.125em),
      0.125em calc(100% - 0.125em),
      0.125em 0.55em
    );
    transition: clip-path 500ms;
  }
  
  .buttonHero:hover {
    color: white;
  }
  
  .buttonHero:hover::after {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
    clip-path: polygon(
      calc(100% - 0.125em) 0.125em,
      calc(100% - 0.125em) 0.125em,
      calc(100% - 0.125em) calc(100% - 0.55em),
      calc(100% - 0.55em) calc(100% - 0.125em),
      calc(100% - 0.55em) calc(100% - 0.125em),
      calc(100% - 0.125em) calc(100% - 0.55em)
    );
  }

/* 4.Section Login */

.borderLogin{
    background: var(--gradient);
    border-radius: 1rem;
    padding: 10px 20px 10px 20px;
    margin: 20px 0;
    top: 50px;
}

.login-text{

    font-size: 18px;    
    font-weight: 400;
    color: white;

}


.form-group{
    margin: 0!important;
}

.form-control{
    font-size: 16px!important;
    line-height: 40px!important;
}


.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 40px;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background: var(--white);
    box-shadow: var(--white-shadow);
    border-radius: 10px;
}


.input-text{

    line-height: 40px;
    border-radius: 10px;
    width: 100%;
    border: none;
    padding: 0 20px 0 20px;
    background: white;
    box-shadow: var(--white-shadow);

}

.confirm-login {
    font-size: 16px;
    height: 41px;
    color: var(--black);
    border-radius: 6px;
    text-align: center;
    border: none;
    background: var(--white);
    box-shadow: var(--white-shadow);
    width: 100%;
    padding: 0 20px 0 20px;
    transition: .5s;
}

.confirm-login:hover{
    background: var(--black);
    box-shadow: var(--black-shadow);
    color: var(--white);
}

/* Section Login End */

/* 4.Section Service */

.spaceImg {
    margin-top: -40px;
    background: var(--black);
    padding: 40px 20px 10px;
    box-shadow: var(--black-shadow);
    border-radius: 1rem;
}

.spaceImg span{
    font-size: 1.25rem;
    background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }
@media screen and (max-width: 501px){
    .spaceImg p{
        font-size: 10px!important;
    }
}

@media screen and (min-width: 501px){
    .optionTitle {
        font-size: 22px;
        color: #fff;}

    .descriptWow, .optionDisc, .videoDisc {
        font-size: 16px;}
}



@media screen and (max-width: 501px){
    .optionTitle {
        font-size: 1.5rem;
    }
    .descriptWow, .optionDisc, .videoDisc {
        font-size: 0.75rem;}
}

.optionDisc {
    color: #fff;
}

   
.service > img:nth-child(1){
  animation: animateimg5 2s linear infinite;
}
.service > img:nth-child(2){
  animation: animateimg6 2s linear infinite;
}
.service > img:nth-child(3){
  animation: animateimg7 2s linear infinite;
}
.service > img:nth-child(4){
  animation: animateimg8 2s linear infinite;
}
  
/* Section Service End */

/* 5.Section Promotion */

.promotion img{
    transition: 1s;
}

.promotion img:hover{
    transform: scale(0.8);
}

/* 6.Section Blog */

.container{
    transform-style: preserve-3d;
}

.container .box-blog{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box-blog .body-blog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box-blog .body-blog .imgContainerBlog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    
}

.container .box-blog .body-blog .imgContainerBlog img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: var(--black-shadow);
    backdrop-filter: var(--black);
}


.container .box-blog .body-blog .content-blog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    box-shadow: var(--black-shadow);
    border-radius: 1rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box-blog:hover .body-blog{
    transform: rotateY(180deg);
}

.container .box-blog .body-blog .content-blog div{
    transform-style: preserve-3d;
    padding: 20px;
    background: var(--gradient);
    transform: translateZ(100px);
    border-radius: 1rem;
}

.container .box-blog .body-blog .content-blog div h3{
    letter-spacing: 1px;
}

.container .box-blog .body-blog .content-blog div span i{
    margin: 0 10px;
}
/* Section Blog End */


/* Section Casino */
.logocasino img{
    max-width: 100px;
    max-height: 100px;
}



/* 7.Section Footer */

.custom-footer{
	padding: 25px;
    transition: 0.5s;
    background: var(--black);
    s
}

.logo-game-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.item-logo-footer {
    padding: 0 18px;
}

.item-logo-footer img{
    width: 100px;
	height: auto;
	filter: grayscale(100%);
	transition: 1s;
	
}

.item-logo-footer img:hover{
	filter: grayscale(0);	
	transform: scale(1.2);
}

.animatelogo{
	animation: animatelogospk 10s ease-out infinite;
}

.animateimg1 > img:nth-child(1){
	animation: animateimg1 8s linear 8s infinite;
}

@keyframes animateimg1{
	0%{
		transform: translateY(0%);
	}
	5%{
		transform: translateY(-10%);
	}
	10%{
		transform: translateY(0%);
	}
}

.animateimg1 > img:nth-child(2){
	animation: animateimg2 8s linear infinite;
}

@keyframes animateimg2{
	15%{
		transform: translateY(0%);
	}
	20%{
		transform: translateY(-10%);
	}
	25%{
		transform: translateY(0%);
	}
}

.animateimg1 > img:nth-child(3){
	animation: animateimg3 8s linear infinite;
}

@keyframes animateimg3{
	25%{
		transform: translateY(0%);
	}
	30%{
		transform: translateY(-10%);
	}
	35%{
		transform: translateY(0%);
	}
}

.animateimg1 > img:nth-child(4){
	animation: animateimg4 8s linear infinite;
}

@keyframes animateimg4{
	35%{
		transform: translateY(0%);
	}
	40%{
		transform: translateY(-10%);
	}
	45%{
		transform: translateY(0%);
	}
}

.animateimg2 > img:nth-child(1){
	animation: animateimg5 8s linear infinite;
}

@keyframes animateimg5{
	45%{
		transform: translateY(0%);
	}
	50%{
		transform: translateY(-10%);
	}
	55%{
		transform: translateY(0%);
	}
}

.animateimg2 > img:nth-child(2){
	animation: animateimg6 8s linear infinite;
}

@keyframes animateimg6{
	55%{
		transform: translateY(0%);
	}
	60%{
		transform: translateY(-10%);
	}
	65%{
		transform: translateY(0%);
	}
}

.animateimg2 > img:nth-child(3){
	animation: animateimg7 8s linear infinite;
}

@keyframes animateimg7{
	65%{
		transform: translateY(0%);
	}
	70%{
		transform: translateY(-10%);
	}
	75%{
		transform: translateY(0%);
	}
}

.animateimg2 > img:nth-child(4){
	animation: animateimg8 8s linear infinite;
}

@keyframes animateimg8{
	75%{
		transform: translateY(0%);
	}
	80%{
		transform: translateY(-10%);
	}
	85%{
		transform: translateY(0%);
	}
}



.semi-footer{
    background-color: rgb(30 29 29);
    box-shadow: 2px 2px 4px 4px #000;
    color: white;
	
}

.semi-footer a{
    color: white;
    text-decoration: none;
}

.semi-footer h4{
    border-bottom: 2px solid;
    border-color: white;
    padding-bottom: 10px;
}

.footer{
    height: 90px;
    background-color: var(--dark);
    color: white;
    line-height: 90px;
    font-size: 14px;
}

.space-bottom a:hover{
    text-decoration: none;
}

.space-bottom a span{
    background-color: var(--dark);
}

@media (max-width:320px){
    .footer{
        font-size: 12px;
		font-weight: 300;
    }
}

@media (max-width:768px){
    .footer{
        font-size: 14px;
		font-weight: 300;
    }
	.item-logo-footer img{
		width: 100px;
	}
	.space-bottom{
		margin-bottom: 70px;
	}
}



/* section Footer end */





/* =======================================test page======================================== */

.heading-test{
    margin-top: 8rem!important;
}

.heading-test span{
    font-size: 2rem;
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-test{
    transition: 1s;
}

.img-test a img{
    width: 100%!important;    
}

.img-test:hover{
    transform: scale(1.1);
}




/************************************ Modal login************************************/

/*form start*/
.sectionlogin
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(0, 0, 0, 0.8);
	background-size: cover;
	background-position: center;
	
}


.box-square
{
	position: relative;
}
#containerlogin
{
	position: relative;
	width: 350px;
	min-height: 350px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}

.close {
	color: white;
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 50px;
	font-weight: 300;
  }
  
  .close:hover,
  .close:focus {
	color: #fff;
	text-decoration: none;
	transform: scale(1.2);
	cursor: pointer;
  }


  /* ModalLogin */
#ModalLogin {
	position: fixed;
	display: none;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
  


.square
{
	content: '';
	position: absolute;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(5px);
	animation: animatesquare 10s linear infinite;
	animation-delay: calc(-1s * var(--i));
}
.square:nth-child(1), .square:nth-child(1) img
{
	top: -50px;
	right: -60px;
	width: 100px;
	height: auto;
}


.square:nth-child(2), .square:nth-child(2) img
{
	top: 100px;
	left: -100px;
	width: 120px;
	height: auto;
	z-index: 2;
}
.square:nth-child(3), .square:nth-child(3) img
{
	bottom: 50px;
	right: -60px;
	width: 80px;
	height: auto;
	z-index: 2;
}
.square:nth-child(4), .square:nth-child(4) img
{
	bottom: 80px;
	left: -30px;
	width: 70px;
	height: auto;
	z-index: 2;
}
.square:nth-child(5), .square:nth-child(5) img
{
	top: -80px;
	left: 140px;
	width: 60px;
	height: auto;
	z-index: 2;
}


@keyframes animatesquare
{
	0%,100%
	{
		transform: translateY(-40px);
	}
	50%
	{
		transform: translateY(40px);
	}
}



.formlogin
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
	
}


.frame-img{
	position: relative;
	width: 100%;
	height: 100%;
}

.frame-img img{
	
	width: 265px;
	height: auto;
	animation: animatelogologin 10s linear infinite;
}




@keyframes animatelogologin
{
	0%,100%
	{
		transform: scale(0.8);
	}
	50%
	{
		transform: scale(1.0);
	}
}


.formlogin h2
{
	position: relative;	
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 00;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.formlogin h2:before
{
	content: '';
	position: absolute;
	left: 60px;
	bottom: -10px;
	width: 80px;
	height: 2px;
	background: #fff;
}
.inputBox
{
	width: 100%;
	margin-top: 20px;
}
.inputBox input, .inputBox select 
{
	width: 100%;
	background: transparent;
	border: none;
	padding: 5px 20px;
	border-radius: .5rem;
	background: rgba(255,255,255,0.2);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
	outline: none;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
}
::placeholder
{
	color: #fff;
}

.forget
{
	margin-top: 5px;
	color: #fff;
	padding: 2px;
}
.forget a
{
	color: #fff;
	font-weight: 600;
}

/*form end*/


/* button start */

.container-button
{
	width: 100%;
	display: inline-block;
    margin-left: -20px;
}
.container-button .btnlogin
{
	position: relative;
	width: 100%;
	height: 50px;
	margin: 20px;
}

.icon-button{
	font-size: 25px;
}
.container-button .btnlogin a
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	color: #fff;
	z-index: 1;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container-button .btnlogin:hover a 
{
	letter-spacing: 3px;
	color: #fff;
}
.container-button .btnlogin a::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
	transform: skewX(45deg) translateX(0);
	transition: 0.5s;
}
.container-button .btnlogin:hover a::before
{
	transform: skewX(45deg) translateX(200%);
}
.container-button .btnlogin::before
{
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 8px;
	transition: 0.5s;
	transition-delay: 0s;
}
.container-button .btnlogin:hover::before
{
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 8px;
	transition-delay: 0.5s;
}


.container-button .btnlogin::after
{
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 8px;
	transition: 0.5s;
	transition-delay: 0s;
}
.container-button .btnlogin:hover::after
{
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 8px;
	transition-delay: 0.5s;
}

.container-button .btnlogin::before,
.container-button .btnlogin::after
{
	background: var(--gradient);;
	box-shadow: 0 0 5px red,
	0 0 15px blue,
	0 0 30px red,
	0 0 60px blue;
}

/*button end*/

/**************************************** End Modal login **************************************/






/**************************************** Modal regis **************************************/


#ModalRegis {
	position: fixed;
	display: none;
	/* overflow: hidden; */
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
  }  

#ModalRegis:hover {
	overflow-y: auto;
} 
  

.squareregis
{
	content: '';
	position: absolute;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(5px);
	animation: animatesquare 10s linear infinite;
	animation-delay: calc(-1s * var(--i));
}
.squareregis:nth-child(1), .squareregis:nth-child(1) img
{
	top: 50px;
	right: -60px;
	width: 160px;
	height: auto;
}


.squareregis:nth-child(2), .squareregis:nth-child(2) img
{
	top: 100px;
	left: -100px;
	width: 150px;
	height: auto;
	z-index: 2;
}
.squareregis:nth-child(3), .squareregis:nth-child(3) img
{
	bottom: 50px;
	right: -60px;
	width: 180px;
	height: auto;
	z-index: 2;
}
.squareregis:nth-child(4), .squareregis:nth-child(4) img
{
	bottom: 80px;
	left: -200px;
	width: 270px;
	height: auto;
	/* z-index: 2; */
}
.squareregis:nth-child(5), .squareregis:nth-child(5) img
{
	top: 300px;
	left: 320px;
	width: 200px;
	height: auto;
	z-index: 2;
}

/*********************************** End Modal regis ***************************************/



/*************************************** POP UP กิจกรรม ผู้โชคดี Top Rank ***************************************/
.iconfix-t{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 30px;
	z-index: 1000;
	cursor: pointer;
	transition: 1s;
}

.iconfix-c{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 130px;
	left: 30px;
	z-index: 1000;
	cursor: pointer;
	transition: 1s;
}

.iconfix-b{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 260px;
	left: 30px;
	z-index: 1000;
	cursor: pointer;
	transition: 1s;
}



.iconfix:hover{
	transform: scale(1.2);
}
.iconfix img{	
	width: 80px; 
	height: 80px;
}

.iconfix div{
	color: #fff;
	text-align: center;
	font-size: 10px;
	font-weight: 300;
	width: 100px;
	background: var(--gradient);
	box-shadow: var(--black-shadow);
	border-radius: 5px;
	margin-top: -10px;
	padding-top: 2px;
} 



.mobile {
	display: none!important;
}


.desktop {
    display: block!important;
}

.c_ads-bottom{
	z-index: 20000;
}

.c_ads-right{
    position: fixed;
    top: 20%;
    z-index: 20000;
    right: 1%;
}

.c_ads-left {
    position: fixed;
    top: 20%;
    z-index: 20000;
    left: 1%;
}
.c_ads-body .c_ads {
    position: relative;
    z-index: 20000;
}





.c_ads_closx-r {
    right: 0;
    top: -30px;
    opacity: 1;
}

.c_ads_closx-l {
    left: 0px;
    top: -30px;
    opacity: 1;
}

.c_ads_closx-l, .c_ads_closx-r {
    background-image: url(../image/pop-ads_03.png);
    background-size: contain;
    width: 23px;
    height: 23px;
    position: absolute;
    cursor: pointer;
}






.list-ads {
    list-style: none;
    padding: 0;
}





ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list-ads li {
    margin-bottom: 9px;
} 

.c_ads-right .list-ads li img {
    width: 145px;
}
.c_ads-left .list-ads li img {
    width: 145px;
}
.list-ads li{
    position: relative;
}


@media (max-width: 767px){
	.mobile {
		display: block!important;
	}
	.desktop {
		display: none!important;
	}
}

.c_ads-bottom {
    position: fixed;
    bottom: 65px;
    z-index: 2;
    right: 10px;
}


.c_ads-bottom .c_ads_closx-r {
    left: inherit;
    right: 5px;
    top: -14px;
    width: 18px;
    height: 18px;
    background-image: url(../image/pop-ads_04.png);
}
@media (max-width: 767px){
	.c_ads_closx-l, .c_ads_closx-r {
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 1199px){
	.c_ads_closx-l, .c_ads_closx-r {
		width: 18px;
		height: 18px;
	}
}

.c_ads-bottom img {
    width: 130px;
}
img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* modal top player */

.crown-gold{
	position: relative;
	width: 50px;
	height: auto;
}
.crown-silver{
	position: relative;
	width: 50px;
	height: auto;
}
.crown-copper{
	position: relative;
	width: 50px;
	height: auto;
}

.crown-gold::before{
	content: '';
	position: absolute;
	background-image: url(../image/k-gold.png);
	background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    top: 2px;
    left: 55px;
}

.crown-silver::before{
	content: '';
	position: absolute;
	background-image: url(../image/k-silver.png);
	background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    top: 2px;
    left: 55px;
}

.crown-copper::before{
	content: '';
	position: absolute;
	background-image: url(../image/k-copper.png);
	background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    top: 2px;
    left: 55px;
}

@media (max-width: 470px){
.crown-gold::before,
.crown-silver::before,
.crown-copper::before	
	{
		left: 10px;
	}
} 

/* modal top player */


/***************************************************************************************/